.group-hover-scale {
  @apply group-hover:scale-[1.02];
  transition: transform 200ms linear;
}
.hover-scale {
  @apply hover:scale-[1.02];
  transition: transform 200ms linear;
}
.article-tag {
  @apply block text-center absolute -top-[3px] left-2 rounded-[4px]  px-[3px] pt-[3px] pb-1 -z-10 group-hover:-top-7;
  background-image: var(--theme-gradient);
  transition: var(--transition-200);
}
.article-tag-content {
  @apply flex items-center gap-1 pl-2 pr-3 text-white rounded-[4px] bg-[rgba(33,33,33,0.5)];
}
