@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Shu Hei;
    font-weight: 400;
    src: url('@/assets/fonts/Alimama_ShuHeiTi_Bold.woff') format('woff');
  }
  .family-shuhei {
    font-family: Shu Hei;
  }
  .theme-gradient {
    background-image: var(--theme-gradient);
  }
  .transition-100 {
    transition: var(--transition-100);
  }
  .transition-200 {
    transition: var(--transition-200);
  }
  .bg-primary {
    background-color: var(--background-primary);
  }
  .bg-secondary {
    background-color: var(--background-secondary);
  }
  .text-normal {
    color: var(--text-normal);
  }
  .text-bright {
    font-family: Shu Hei;
    color: var(--text-bright);
  }
  .text-accent {
    color: var(--text-accent);
  }
  .text-shadow-primary {
    text-shadow: var(--text-shadow-primary);
  }
  .shadow-primary {
    box-shadow: var(--shadow-primary);
  }
  .text-cutoff-1 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines-1);
  }
  .text-cutoff-2 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines-2);
  }
  .text-cutoff-3 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines-3);
  }
  .text-cutoff-4 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines-4);
  }
}

@layer components {
  .card {
    @apply overflow-hidden rounded-xl;
    background-color: var(--background-secondary);
    color: var(--text-normal);
    box-shadow: var(--shadow-primary);
  }
}
